.container-flex{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

#name{
    font-size: 90px;
}

@media (max-width: 720px){
    .container-flex{
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 20%;
    }
    #vck{
        margin-top:10%;
    }
    #dyp{
        margin-top: 10%;
    }
        
}
